.charts-grid {

    display: grid;

    grid-template-columns:
        repeat(2, minmax(0, 1fr));

    gap: 25px;

}


.chart-card {

    background: #ffffff;

    border-radius: 12px;

    padding: 25px;

    border: 1px solid #e5e5e5;

}


.chart-full {

    grid-column: 1 / -1;

}


.chart-wrapper {

    position: relative;

    width: 100%;

    height: 320px;

}


.chart-wrapper canvas {

    width: 100% !important;

    height: 100% !important;

}


.chart-title {

    text-align: center;

    margin-bottom: 15px;

}


.chart-title h3 {

    color: #245b36;

    font-size: 21px;

}


.chart-title p {

    color: #777;

    font-size: 14px;

}
